.App {
	min-height: 100vh;
	background: url('https://img.freepik.com/free-vector/gradient-wallpaper-background_1159-5359.jpg?t=st=1646307208~exp=1646307808~hmac=104dd0f7db575bb1f748f60e6e9ef39a2375f22f41bcaaff3dfaa5655c201088&w=1380');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
::-webkit-scrollbar {
	width: 0px;
}
::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.281);
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
* {
	margin: 0;
	padding: 0;
}
